* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #020024;
    --color-secondary: #090979;
    --color-tertiary: #2a196d;
    --color-font: #f0f0f0;
    --color-emphasis: #339494;
    --gradient: linear-gradient(135deg, var(--color-primary) 80%, var(--color-secondary) 90%, var(--color-tertiary) 100%);
}

body {
    background-image: var(--gradient);
    font-size: 1.5em;
    font-family: "Quicksand", serif;
    color: var(--color-font);
}

a, a:visited, a:active {
    color: var(--color-font);
    text-decoration: none;
}

a:hover {
    color: var(--color-emphasis);
}