* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #2a196d;
    --color-secondary: #090979;
    --color-tertiary: #020024;
    --color-white: #f0f0f0;
    --color-backg: #f1f1f1;
}

body {
    background: var(--color-backg);/*linear-gradient(135deg, #3E4F9F, #1DD5F1); /* var(--color-white);*/
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
}

button {
    background-color: inherit;
    border: none;
    padding: 3px 5px;
    border-radius: 5px;
    color: var(--color-primary);
    font-weight: bold;
}

button:hover {
    text-decoration: underline;
}