<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gaiadelas Store</title>
        <link rel="icon" href="{{ url_for('static', filename='imgs/icon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    </head>
    <body>
        <header id="header"></header>
        <main></main>
        <footer></footer>
    </body>
    <script src="{{ url_for('static', filename='js/script.js') }}">
    </script>
    <script>
        render_container("/header", "header")
    </script>
</html>